.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80vh;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    border: 2px solid #ffcc00;
    transition: 0.3s;
}

.card:hover {
    background: rgba(255, 255, 255, 0.2);
}
